.input_wr {
  display: flex;
  position: relative;
  width: 300px;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: 0px 0px 8px #2e2d2d;
  margin-left: 2px;
  border: rgb(226, 226, 226) solid 1px;
  position: relative;
}
.input_wr a {
  outline: none; /* Убираем выделение ссылок */
  text-decoration: none !important; /* Убираем подчеркивание */
  color: inherit !important; /* Наследуем цвет текста от родительского элемента */
}
.searchInput {
  z-index: 120;
  background-color: transparent;
  border: none;
  width: 100%;
  color: white !important; /* Важное свойство для переопределения */
  text-decoration: none !important;

  /* height: 30px; */
  font-size: 1.25rem;
}

.searchInput::placeholder {
  color: rgb(236, 233, 233);
}
.searchInput:focus {
  outline: none;
}
.search_icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 6px;
  margin-top: 10px;
  fill: #ffffff;
}
.movieList {
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 16px;
  position: absolute;
  list-style: none;
  top: 46px;
  border-radius: 10px;
  background-color: rgba(16, 13, 13, 0.5);
  color: rgb(238, 232, 232);
}
.searchedMovies {
  cursor: pointer;
}
.imgSearchedFilm {
  object-fit: cover;
  width: 20px;
  height: 20px;
}
